<div class="wrapper">
<section class="passenger-show">
    <h2><%= @passenger.name %></h2>
    <%= image_tag "portrait-1110689_640.png", alt: "Picture of a face", class: "passenger-pic" %>
  <ul>
    <li>
      <%= link_to "Edit", edit_passenger_path(@passenger) %>
    </li>
    <li>
      <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"} %>
    </li>
    <li>
      <%= link_to "Add New Trip", new_passenger_trip_path(@passenger)%>
    </li>
  </ul>

  <section class="passenger-info">
    <p>
      <strong>Phone number</strong>: <%= @passenger.phone_number %>
    </p>
    <p>
      <strong>Total spent on rides</strong>: $<%= @passenger.total_cost %>
    </p>
</section>

  <%= render partial: "layouts/all_trips", locals: { model: @passenger} %>

  </div>
  <%# TODO: is there an easy way to make each row in the table link to that trip? %>
</section>
